<div class="container py-4 bg-main-light shadow p-2 rounded-4 my-3">
    <section>
        <h1 class="h2"> Register Now:</h1>
        <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
            <div class="">
                <label for="name">Name:</label>
                <input [ngClass]="{

'is-valid':  !registerForm.get('name')?.errors && (registerForm.get('name')?.touched
||registerForm.get('name')?.dirty)     ,
'is-invalid': registerForm.get('name')?.errors   &&(registerForm.get('name')?.touched
||registerForm.get('name')?.dirty)     ,
                }" type="text" id="name" class="form-control" formControlName="name">
                @if(registerForm.get('name')?.errors&& (registerForm.get('name')?.touched
                ||registerForm.get('name')?.dirty)){


                <div class="alert alert-warning w-25 mt-2">
                    <ul class="">
                        @if(registerForm.get('name')?.getError('required')){
                        <li class="my-2">Name Required</li>
                        }
                        @else if(registerForm.get('name')?.getError('minlength')){
                        <li class="my-2">Name Should be more than or equal 3 chars</li>
                        }
                        @else if(registerForm.get('name')?.getError('maxlength')){
                        <li class="my-2">Name Should be less than or equal 20 chars</li>
                        }

                    </ul>
                </div>

                }


            </div>
            <div class="">
                <label for="email">email:</label>
                <input [ngClass]="{
'is-valid':!registerForm.get('email')?.errors&&(registerForm.get('email')?.touched||registerForm.get('email')?.dirty)
,'is-invalid':registerForm.get('email')?.errors&&(registerForm.get('email')?.touched||registerForm.get('email')?.dirty)


                }" type="email" id="email" class="form-control" formControlName="email">

                @if(registerForm.get('email')?.errors&& (registerForm.get('email')?.touched
                ||registerForm.get('email')?.dirty)){


                <div class="alert alert-warning w-25 mt-2">
                    <ul class="">
                        @if(registerForm.get('email')?.getError('required')){
                        <li class="my-2">Email Required</li>
                        }
                        @else if(registerForm.get('email')?.getError('email')){
                        <li class="my-2">Enter Valid Email </li>
                        }


                    </ul>
                </div>

                }



            </div>
            <div class="">
                <label for="phone">phone:</label>
                <input [ngClass]="{


'is-valid':!registerForm.get('phone')?.errors&&(registerForm.get('phone')?.touched||registerForm.get('phone')?.dirty)
,'is-invalid':registerForm.get('phone')?.errors&&(registerForm.get('phone')?.touched||registerForm.get('phone')?.dirty)



                }" type="tel" id="phone" class="form-control" formControlName="phone">



                @if(registerForm.get('phone')?.errors&& (registerForm.get('phone')?.touched
                ||registerForm.get('phone')?.dirty)){


                <div class="alert alert-warning w-25 mt-2">
                    <ul class="">
                        @if(registerForm.get('phone')?.getError('required')){
                        <li class="my-2">phone Required</li>
                        }
                        @else if(registerForm.get('phone')?.getError('pattern')){
                        <li class="my-2">Enter Valid phone </li>
                        }


                    </ul>
                </div>

                }

            </div>

            <div class="">
                <label for="password">password:</label>
                <input [ngClass]="{
'is-valid':!registerForm.get('password')?.errors&&(registerForm.get('password')?.touched||registerForm.get('password')?.dirty)
,'is-invalid':registerForm.get('password')?.errors&&(registerForm.get('password')?.touched||registerForm.get('password')?.dirty)




                }" type="password" id="password" class="form-control" formControlName="password">

                @if(registerForm.get('password')?.errors&&(registerForm.get('password')?.touched
                ||registerForm.get('password')?.dirty)){


                <div class="alert alert-warning w-25 mt-2">
                    <ul class="">
                        @if(registerForm.get('password')?.getError('required')){
                        <li class="my-2">password Required</li>
                        }
                        @else if(registerForm.get('password')?.getError('pattern')){
                        <li class="my-2">Enter Valid password </li>
                        }


                    </ul>
                </div>

                }

            </div>
            <div class="">
                <label for="rePassword">rePassword:</label>
                <input type="password" id="rePassword" class="form-control" formControlName="rePassword">

                @if (registerForm.getError('mismatch')&& registerForm.get('rePassword')?.touched) {
                <p class="alert alert-warning w-25   text-capitalize">Password confirmation is incorrect</p>
                }

            </div>


            <button  type="submit"
                class="btn-main d-block mx-auto my-2">Register


                @if (isLoading) {
                <span>
                    <i class="fas fa-spin fa-spinner"></i>
                </span>
                }

            </button>
            @if (msgError) {
            <p class="alert alert-warning w-25 m-0">{{msgError}}</p>
            }




            @if (msgSuccess) {
                <p> Success </p>
            }
        </form>

    </section>
</div>